/******** FONTS *********/

@font-face {
	font-family: "Mercury";
	src: url('fonts/mercury/regular/mercury.eot');
	src: url('fonts/mercury/regular/mercury.eot?#iefix') format('embedded-opentype'),
		 url('fonts/mercury/regular/mercury.woff') format('woff'),
		 url('fonts/mercury/regular/mercury.ttf') format('truetype'),
		 url('fonts/mercury/regular/mercury.svg#Mercury') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "MercuryBold";
	src: url('fonts/mercury/bold/mercury-bold.eot');
	src: url('fonts/mercury/bold/mercury-bold.eot?#iefix') format('embedded-opentype'),
	     url('fonts/mercury/bold/mercury-bold.woff') format('woff'),
	     url('fonts/mercury/bold/mercury-bold.ttf') format('truetype'),
	     url('fonts/mercury/bold/mercury-bold.svg#MercuryBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CTBoomerCon";
	src: url('fonts/ctboomer/condensed/ctboomercond-book.eot');
	src: url('fonts/ctboomer/condensed/ctboomercond-book.eot?#iefix') format('embedded-opentype'),
	     url('fonts/ctboomer/condensed/ctboomercond-book.woff') format('woff'),
	     url('fonts/ctboomer/condensed/ctboomercond-book.ttf') format('truetype'),
	     url('fonts/ctboomer/condensed/ctboomercond-book.svg#CTBoomerCon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CTBoomerExtraCon";
	src: url('fonts/ctboomer/extra-condensed/ctboomerextracond.eot');
	src: url('fonts/ctboomer/extra-condensed/ctboomerextracond.eot?#iefix') format('embedded-opentype'),
	     url('fonts/ctboomer/extra-condensed/ctboomerextracond.woff') format('woff'),
	     url('fonts/ctboomer/extra-condensed/ctboomerextracond.ttf') format('truetype'),
	     url('fonts/ctboomer/extra-condensed/ctboomerextracond.svg#CTBoomerExtraCon') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}