
$main-gray: #bbbbbb;
$sans-family: "Lato", "HelveticaNeue", Helvetica Neue, Helvetica, sans-serif;
$serif-family: Georgia,serif;

/*
===============================================================
Basic page elements (Any SCSS variables above this will vanish)
===============================================================
*/

html{text-align:center;}
body{float:none; margin:auto; width:75%;}
p{text-align:left;}
small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}
div.embed-container{margin-top:80px;}
div.embed-container:after{content:""; display:block; clear:both; height:1px; width:100%; } 

/*
===============================================================
Map-specific elements
===============================================================
*/

iframe#frameone{width:100%; height:500px;}
h1 {font-weight: 400; font-size:300%; font-family: $serif-family;}
p.mainchatter {font: 20px Georgia,Serif; line-height:27px;}
p.instruction {font-style:italic;}
div.embed-container h1, div.embed-container h2{width:100%; text-align:left; margin-top:20px;}
section{background:white; width:48%;border:0px none solid; padding:0px; line-height:170%; font-family: $sans-family;}
section.left{float:left; margin-right:2%;}
section.right{float:right; margin-left:2%;}
section div.flatwrap{width:100%; height:auto; overflow:hidden; text-align:center; border:1px solid $main-gray; background:$main-gray;}
section img {width:100%; height:auto; position:relative; top:5px;}
div.credits{text-align:left; padding:120px 0px; position:relative; font-style:italic; top:80px; color: $main-gray;}
div.credits a{color: $main-gray;}
div.mapone{display:auto; overflow:hidden;}
div.maptwo{display:auto; height:2px; overflow:hidden;}


/*
===============================================================
Size-specific fixes
===============================================================
*/

@media (max-width: 1760px) {
	section p{min-height:85px;}
	section p, section h2{position:relative; top:20px;}
}
@media (max-width: 1260px) {
	section p{min-height:140px;}
	section p, section h2{position:relative; top:40px;}
}
@media (max-width: 960px) {
	h2 span.optional{display:none;}
	section p{min-height:170px;}
	section p, section h2{position:relative; top:40px;}
}
@media (max-width: 860px) {
	body{width:85%;}
	section p{min-height:200px;}
	section p, section h2{position:relative; top:60px;}
}
@media (max-width: 760px) {
	section p{min-height:230px;}
	section p, section h2{position:relative; top:75px;}
}
@media (max-width: 680px) {
	body{width:95%;}
	section{width:100%; float:left;}
	section p, section h2{position:relative; top:110px;}
}
