
$main-gray: #bbbbbb;

/*
===============================================================
Basic page elements (Any SCSS variables above this will vanish)
===============================================================
*/

html{text-align:center;}
body{float:none; margin:auto; width:75%;}
p{text-align:left;}
small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}
div.embed-container{margin-top:80px;}


/*
===============================================================
Map-specific elements
===============================================================
*/

iframe#frameone{width:100%; height:500px;}
h1 {font-weight: 400; font-size:300%; font-family: Georgia,serif;}
p.mainchatter {font: 20px Georgia,Serif; line-height:170%;}
p.instruction {font-style:italic;}
div.embed-container h1, div.embed-container h2{width:100%; text-align:left; margin-top:20px;}
div.columnone, div.columntwo{background:white; width:49%;border:0px none solid; padding:0px; line-height:170%; font-family: "Montserrat", "Lato", "HelveticaNeue", Helvetica Neue, Helvetica, sans-serif;}
div.columnone{float:left;}
div.columntwo{float:right;}
div.columnone div.flatwrap, div.columntwo div.flatwrap{width:100%; height:auto; overflow:hidden; text-align:center; border:1px solid $main-gray; background:$main-gray;}
div.columnone img, div.columntwo img{width:100%; height:auto; position:relative; top:5px;}
div.credits:before{content:" "; width:100%; display:block; clear:both;}
div.credits{text-align:left; padding:120px 0px; position:relative; font-style:italic; top:80px; color: $main-gray;}
div.credits a{color: $main-gray;}


/*
===============================================================
Size-specific fixes
===============================================================
*/

@media (max-width: 800px) {
	div.columnone p span.optional{display:none;}
	div.columnone p, div.columntwo p{min-height:160px;}
}
@media (max-width: 700px) {
	div.columnone p, div.columntwo p{min-height:190px;}
}
@media (max-width: 640px) {
	body{width:95%;}
	div.columnone, div.columntwo{width:100%; float:left;}
}

